.card {
    width: 400px;
    margin: 0 auto;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.create-card {
    text-align: center;
    width: 75%;
}